<form (ngSubmit)="onSubmit()" #playerForm="ngForm">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="player.fname" required #fname="ngModel">
        <span [hidden]="fname.valid || fname.pristine">First Name is required</span>
    </div>

    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="player.lname" required #lname="ngModel">
        <span [hidden]="lname.valid || lname.pristine">Last Name is required</span>
    </div>

    <div class="form-group">
        <label>
            Hall of Fame
            <input type="radio" [(ngModel)]="player.hall_of_fame" id="hof-true" name="hall_of_fname" value="true" required>
            <label for="hof-true"> True</label>
            <input type="radio" [(ngModel)]="player.hall_of_fame" id="hof-false" name="hall_of_fname" value="false" required>
            <label for="hof-false"> False</label>
        </label>
    </div>

    <button type="submit" [disabled]="!playerForm.form.valid">Submit</button>
</form>
